//
// Display plugs
// --------------------------------------------------


// Modal

.modal {
  display: flex;
  flex-direction: column;

  > .heading {
    flex: none;

    > .title {
      font-size: (14*@rem);
    }
  }

  > .content {
    flex: auto;
    padding: 0 @space;
  }

  > .footer {
    flex: none;
    padding: @space;

    .btn {
      min-width: (80*@rem);
    }
  }

  .os-mac & > .footer {
    text-align: right;
  }
}
