//
// Display plugs
// --------------------------------------------------


// Modal

.modal {
  display: flex;
  flex-direction: column;

  > .heading {
    flex: none;

    > .title {
      font-size: (14*@rem);
      padding-left: @space;
    }
  }

  > .content {
    overflow-y: auto;
    flex: auto;
    padding: 0 @space;
  }

  > .footer {
    flex: none;
    padding: @space;

    .btn {
      min-width: (80*@rem);

      + .btn {
        margin-left: @space-sm;
      }
    }
  }

  .os-mac & > .footer {
    text-align: right;
  }
}


// Messager

.messager {
  display: flex;
  flex-direction: row;

  > .content {
    flex: auto;
    padding: @space-sm;
  }

  > nav {
    flex: none;
  }
}
