@import "./variables.less";
@import "./core.less";

.mdi-search:before {content: @mdi-magnify;}
.mdi-close:before {content: @mdi-close;}
.mdi-history:before {content: @mdi-history;}
.mdi-star:before {content: @mdi-star;}
.mdi-star-outline:before {content: @mdi-star-outline;}
.mdi-book-open:before {content: @mdi-book-open;}
.mdi-dots-horizontal:before {content: @mdi-dots-horizontal;}
.mdi-emoticon:before {content: @mdi-emoticon;}
.mdi-image:before {content: @mdi-image;}
.mdi-file-outline:before {content: @mdi-file-outline;}
.mdi-content-cut:before {content: @mdi-content-cut;}
.mdi-format-size:before {content: @mdi-format-size;}
.mdi-comment-question-outline:before {content: @mdi-comment-question-outline;}
.mdi-keyboard-return:before {content: @mdi-keyboard-return;}
.mdi-check:before {content: @mdi-check;}
.mdi-loading:before {content: @mdi-loading;}
.mdi-account:before {content: @mdi-account;}
.mdi-account-plus:before {content: @mdi-account-plus;}
.mdi-account-multiple-plus:before {content: @mdi-account-multiple-plus;}
.mdi-comment-outline:before {content: @mdi-comment-outline;}
.mdi-comment:before {content: @mdi-comment;}
.mdi-comment-text:before {content: @mdi-comment-text;}
.mdi-comment-text-outline:before {content: @mdi-comment-text-outline;}
.mdi-comment-multiple-outline:before {content: @mdi-comment-multiple-outline;}
.mdi-comment-plus-outline:before {content: @mdi-comment-plus-outline;}
.mdi-comment-processing:before {content: @mdi-comment-processing;}
.mdi-pound:before {content: @mdi-pound;}
.mdi-pound-box:before {content: @mdi-pound-box;}
.mdi-account-multiple:before {content: @mdi-account-multiple;}
.mdi-account-multiple-outline:before {content: @mdi-account-multiple-outline;}
.mdi-phone:before {content: @mdi-phone;}
.mdi-cellphone:before {content: @mdi-cellphone;}
.mdi-email:before {content: @mdi-email;}
