.app-nav-main > div > a.active {
  transform: scale(1);
  opacity: 1;
  background-color: rgba(255,255,255,.15);
}

.app-profile-avatar {
  > .status-dot {
    position: absolute;
    bottom: (7*@rem);
    right: (7*@rem);
  }
}
